@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

/* * {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #FAFBED;
}

img{
  position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 0px;

background: url('./images/food-bck.jpg');
opacity: 0.6;
}
/* Rectangle 1 */
.rectangle{
  position: absoulte;
  width: 962.24px;
  height: 537.46px;
  left: -376px;
  top: 194.28px;

  background: #FCFBF1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-39.36deg);
}


.title{
  position: absolute;
width: 536px;
height: 114px;
left: 38px;
top: 31px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 104px;

color: #4E4E4D;
} 

/* h1 {
  font-size: 8rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #40b48e;
  text-shadow: 0 0.2rem 5rem rgb(119, 115, 115);
  text-transform: uppercase;
  margin: 4rem 0;
} */
/* 
.search-form {
  position: absolute;
width: 496px;
height: 91.32px;
left: 472px;
top: 688px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.search-icon{
  position: absolute;
width: 60px;
height: 49px;
left: 506px;
top: 709px;

background: url('./images/search.png');
opacity: 0.9;
} */ 
/* .alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
} */
/* 
.search-form input[type="text"] {
  position: absolute;
width: 389.36px;
height: 59.32px;
left: 566px;
top: 720px;

font-family: Varela;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
text-align: center;

color: rgba(78, 78, 77, 0.8);

opacity: 0.9;
}

.search-form input[type="submit"] {
  position: absolute;
width: 60px;
height: 49px;
left: 506px;
top: 709px;

background: url('./images/search.png');
opacity: 0.9;
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color: #40b48e;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #40b48e;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
} */